body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica";
 /* font-family: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    "Lucida Grande", "Segoe UI";*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
	font-family: "Helvetica";
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;before */
}
